port=3000
MongodbUri=mongodb://127.0.0.1:27017/collabhub
JWT_SECRET=vila$sure$kir@nrosh@nOz@2495

CLOUDINARY_CLOUD_NAME=dqfuidgco

CLOUDINARY_API_KEY=525943777151289

CLOUDINARY_API_SECRET=Ja39DKB5WKFv8E3hhvUW7myfPKY

EMAIL_USER=vilasoza19@gmail.com
EMAIL_PASS=akpf tkde azrw nsmd